<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title data-layout-title-pattern="$LAYOUT_TITLE | $CONTENT_TITLE">ShopHome</title>
	<meta name="description" content="Explore the live preview of the professional Modern - Furniture & Interior Website Templates get yourself knowledgeable about this theme prior to buying it. Browse through the pages, check out the images, click the buttons, explore the features.">
	<meta name="keywords" content="ecommerce, business, clean, company, contractor, corporate, creative, flat design, furniture, interior, minimal, fashion, furniture store, interior store, Kitchen Store, shopping template, modern, shopping"/>
	
	<!-- Mobile specific metas  -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- Favicon  -->
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
	
	<!-- Bootstrap -->
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/webjars/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="/webjars/nprogress/nprogress.css" rel="stylesheet">
    
    <link rel="stylesheet" type="text/css" href="/css/simple-line-icons.css" media="all">

	<!-- owl.carousel CSS -->
	<link rel="stylesheet" type="text/css" href="/css/owl.carousel.css">
	<link rel="stylesheet" type="text/css" href="/css/owl.theme.css">
	<link rel="stylesheet" type="text/css" href="/css/owl.transitions.css">
	
	<!-- animate CSS  -->
	<link rel="stylesheet" type="text/css" href="/css/animate.css" media="all">
	
	<!-- flexslider CSS -->
	<link rel="stylesheet" type="text/css" href="/css/flexslider.css" >
	
	<!-- jquery-ui.min CSS  -->
	<link rel="stylesheet" type="text/css" href="/css/jquery-ui.css">
	
	<!-- Revolution Slider CSS -->
	<link href="/css/revolution-slider.css" rel="stylesheet">
	
	<!-- style CSS -->
	<link rel="stylesheet" type="text/css" href="/css/style.css" media="all">
    
</head>
<body class="cms-index-index cms-home-page">
    <div data-th-replace="fragments/fragment-nav-mobile :: nav-mobile"></div>
    <div id="page"> 
     <div data-th-replace="fragments/fragment-header :: header"></div>
     <div data-th-replace="fragments/fragment-nav :: nav"></div>
     
     <div data-layout-fragment="content"></div>
     
     <div data-th-replace="fragments/fragment-service :: service"></div>
     <div data-th-replace="fragments/fragment-footer :: footer"></div>
     
      <a href="#" class="totop"><i class="fa fa-arrow-up"></i></a> 
	  <!-- End Footer --> 
	  <!--Newsletter Popup Start-->
	  <div id="myModal" class="modal fade">
	    <div class="modal-dialog newsletter-popup">
	      <div class="modal-content">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <div class="modal-body">
	          <h4 class="modal-title">Join Our Newsletters</h4>
	          <form id="newsletter-form" method="post" action="#">
	            <div class="content-subscribe">
	              <div class="form-subscribe-header">
	                <label>Subscribe to the Decorate mailing list to receive updates on new arrivals, special offers and other discount information.</label>
	              </div>
	              <div class="input-box">
	                <input type="text" class="input-text newsletter-subscribe" title="Sign up for our newsletter" name="email" placeholder="Enter your email address">
	              </div>
	              <div class="actions">
	                <button class="button-subscribe" title="Subscribe" type="submit">Subscribe</button>
	              </div>
	            </div>
	          </form>
	          <div class="subscribe-bottom">
	            <input name="notshowpopup" id="notshowpopup" type="checkbox">
	            Don’t show this popup again </div>
	        </div>
	      </div>
	    </div>
	  </div>
	  <!--End of Newsletter Popup--> 
	  
    </div>

	<!-- jQuery -->
    <script src="/webjars/jquery/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <!-- Slider Js --> 
	<script type="text/javascript" src="/js/revolution-slider.js"></script> 
	
	<!-- owl.carousel.min js --> 
	<script type="text/javascript" src="/js/owl.carousel.min.js"></script> 
	
	<!-- bxslider js --> 
	<script type="text/javascript" src="/js/jquery.bxslider.js"></script> 
	
	<!-- jquery.mobile-menu js --> 
	<script type="text/javascript" src="/js/mobile-menu.js"></script> 
	
	<!--jquery-ui.min js --> 
	<script type="text/javascript" src="/js/jquery-ui.js"></script> 
	
	<!-- main js --> 
	<script type="text/javascript" src="/js/main.js"></script> 
	
	<!-- countdown js --> 
	<script type="text/javascript" src="/js/countdown.js"></script> 
	
	<!-- Revolution slider --> 
	<script type="text/javascript" src="/js/app.js"></script>
</body>
</html>