<nav data-th-fragment="nav">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-3">
          <div class="mm-toggle-wrap">
            <div class="mm-toggle"> <i class="fa fa-align-justify"></i> </div>
            <span class="mm-label hidden-xs">Categories</span> </div>
          <div class="mega-container visible-lg visible-md visible-sm">
            <div class="navleft-container">
              <div class="mega-menu-title">
                <h3>shop by category</h3>
              </div>
              <div class="mega-menu-category">
                <ul class="nav">
                  <li> <a href="/"><i class="icon fa  fa-coffee fa-fw"></i> Kitchen & Dining</a>
                    <div class="wrap-popup column1">
                      <div class="popup">
                        <ul class="nav">
                          <li><a><span>hhh</span></a></li>                          
                        </ul>
                      </div>
                    </div>
                  </li>                 
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-9 col-sm-6 col-md-7 hidden-xs"> 
          <!-- Search -->
          
          <div class="top-search">
            <div id="search">
              <form>
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search" name="search">
                  <select class="cate-dropdown hidden-xs hidden-sm" name="category_id">
                    <option>All Categories</option>
                    <option>&nbsp;&nbsp;&nbsp;Chair </option>
                  </select>
                  <button class="btn-search" type="button"><i class="fa fa-search"></i></button>
                </div>
              </form>
            </div>
          </div>
          
          <!-- End Search --> 
        </div>
        <!-- top cart -->
        <div class="col-md-2 col-xs-9 col-sm-2 top-cart">
          <div class="top-cart-contain">
            <div class="mini-cart">
              <div data-toggle="dropdown" data-hover="dropdown" class="basket dropdown-toggle"> <a href="/">
                <div class="cart-icon"><i class="fa fa-heart"></i></div>
                <div class="shoppingcart-inner hidden-sm"><span class="cart-title">My Wishlist</span> <span class="cart-total">4 Item(s)</span></div>
                </a></div>
              <div>
                <div class="top-cart-content">
                  <div class="block-subtitle hidden-xs">Recently added item(s)</div>
                  <ul id="cart-sidebar" class="mini-products-list">
                    <li class="item odd"> <a href="shopping_cart.html" title="Ipsums Dolors Untra" class="product-image"><img src="/images/products/img07.jpg" alt="Lorem ipsum dolor"></a>
                      <div class="product-details"> <a href="#" title="Remove This Item" class="remove-cart"><i class="icon-close"></i></a>
                        <p class="product-name"><a href="shopping_cart.html">Lorem ipsum dolor sit amet Consectetur</a> </p>
                        <strong>1</strong> x <span class="price">$20.00</span> </div>
                    </li>
                  </ul>
                  <div class="actions">
                    <button class="view-cart" type="button"><i class="fa fa-heart"></i> <span>Wishlist</span></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>