<!DOCTYPE html>
<html data-layout-decorate="~{fragments/fragment-layout}">
<head>
<title>Cataslogues</title>
</head>
<body>
	<div data-layout-fragment="content">
		<div class="breadcrumbs">
		    <div class="container">
		      <div class="row">
		        <div class="col-xs-12">
		          <ul>
		            <li class="home"> <a title="Go to Home Page" href="index-2.html">Home</a><span>&raquo;</span></li>
		            <li><strong>Collection</strong></li>
		          </ul>
		        </div>
		      </div>
		    </div>
		  </div>
		  <!-- Breadcrumbs End --> 
		  <!-- Main Container -->
		  <div class="main-container col1-layout">
		    <div class="container">
		      <div class="row">
		      <div class="col-sm-12 col-xs-12 collection-page">
		      <div class="page-title">
		              <h2>Furniture Collection</h2>
		            </div></div>
							<!-- col-left -->
							<div class="col-xs-offset-0  col-xs-12 col-sm-offset-2  col-sm-8 col-md-9 col-md-offset-0">
		                    <div class="row">
									<div class="col-sm-12 col-md-8">
										<a href="shop_grid.html" class="banner zoom-in">
											<span class="figure">
												<img src="/images/collections-img-03.jpg" alt="Living Room"/>
												<span class="figcaption">
													<span class="block-table">
														<span class="block-table-cell">
															<span class="banner_title">Living Room</span>
															<span class="collections-btn">Shop now!</span>
														</span>
													</span>
												</span>
											</span>
										</a>
									</div>
									<div class="divider visible-sm visible-xs"></div>
									<div class="col-sm-12 col-md-4">
										<a href="shop_grid_full_width.html" class="banner zoom-in">
											<span class="figure">
												<img src="/images/collections-img-04.jpg" alt="Bathroom"/>
												<span class="figcaption">
													<span class="block-table">
														<span class="block-table-cell">
															<span class="banner_title">Bathroom</span>
															<span class="collections-btn">Shop now!</span>
														</span>
													</span>
												</span>
											</span>
										</a>
									</div>
									<div class="divider visible-sm visible-xs"></div>
								</div>
		                        	<div class="divider"></div>
								<div class="row">
									<div class="col-sm-12 col-md-4">
										<a href="shop_grid_right_sidebar.html" class="banner zoom-in">
											<span class="figure">
												<img src="/images/collections-img-01.jpg" alt="Office"/>
												<span class="figcaption">
													<span class="block-table">
														<span class="block-table-cell">
															<span class="banner_title">Office</span>
															<span class="collections-btn">Shop now!</span>
														</span>
													</span>
												</span>
											</span>
										</a>
									</div>
									<div class="divider visible-sm visible-xs"></div>
									<div class="col-sm-12 col-md-8">
										<a href="shop_list.html" class="banner zoom-in">
											<span class="figure">
												<img src="/images/collections-img-02.jpg" alt="Bedroom"/>
												<span class="figcaption">
													<span class="block-table">
														<span class="block-table-cell">
															<span class="banner_title">Bedroom</span>
															<span class="collections-btn">Shop now!</span>
														</span>
													</span>
												</span>
											</span>
										</a>
									</div>
								</div>
								<div class="divider"></div>
								<div class="row">
									
									
									<div class="col-sm-12 col-md-4">
										<a href="shop_list_right_sidebar.html" class="banner zoom-in">
											<span class="figure">
												<img src="/images/collections-img-07.jpg" alt="Sofas"/>
												<span class="figcaption">
													<span class="block-table">
														<span class="block-table-cell">
															<span class="banner_title">Sofas</span>
															<span class="collections-btn">Shop now!</span>
														</span>
													</span>
												</span>
											</span>
										</a>
									</div>
									<div class="divider visible-sm visible-xs"></div>
		                            <div class="col-sm-12 col-md-8">
										<a href="shop_grid.html" class="banner zoom-in">
											<span class="figure">
												<img src="/images/collections-img-09.jpg" alt="Dining Room"/>
												<span class="figcaption">
													<span class="block-table">
														<span class="block-table-cell">
															<span class="banner_title">Dining Room</span>
															<span class="collections-btn">Shop now!</span>
														</span>
													</span>
												</span>
											</span>
										</a>
									</div><div class="divider visible-sm visible-xs"></div>
								</div>
		                        
							</div>
							<!-- /col-left -->
							<!-- col-right -->
							<div class="col-xs-12 col-sm-offset-2  col-sm-8 col-sm-offset-2 col-md-3 col-md-offset-0">
								<a href="shop_grid_right_sidebar.html" class="banner zoom-in">
									<span class="figure">
										<img src="/images/collections-img-05.jpg" alt="Office Furniture"/>
										<span class="figcaption">
											<span class="block-table">
												<span class="block-table-cell">
													<span class="banner_title">Lighting</span>
													<span class="collections-btn">Shop now!</span>
												</span>
											</span>
										</span>
									</span>
								</a>
								<div class="divider"></div>
								<a href="shop_grid_full_width.html" class="banner zoom-in">
									<span class="figure">
										<img src="/images/collections-img-06.jpg" alt="Kitchens"/>
										<span class="figcaption">
											<span class="block-table">
												<span class="block-table-cell">
													<span class="banner_title">Kitchens</span>
													<span class="collections-btn">Shop now!</span>
												</span>
											</span>
										</span>
									</span>
								</a>
		                        <div class="divider"></div>
		                        <a href="shop_grid_full_width.html" class="banner zoom-in">
									<span class="figure">
										<img src="/images/collections-img-08.jpg" alt="Chairs"/>
										<span class="figcaption">
											<span class="block-table">
												<span class="block-table-cell">
													<span class="banner_title">Chairs</span>
													<span class="collections-btn">Shop now!</span>
												</span>
											</span>
										</span>
									</span>
								</a>
							</div>
							<!-- /col-right -->
						</div>
		    </div>
		  </div>
		  <!-- Main Container End --> 
		  <!-- service section -->
	</div>

</body>
</html>