<!DOCTYPE html>
<html data-layout-decorate="~{fragments/fragment-layout}">
<head>
<title>Comparer</title>
</head>
<body>
	<div data-layout-fragment="content">
	  <div class="breadcrumbs">
	    <div class="container">
	      <div class="row">
	        <div class="col-xs-12">
	          <ul>
	            <li class="home"> <a title="Go to Home Page" href="index-2.html">Home</a><span>&raquo;</span></li>
	           
	            <li><strong>Compare</strong></li>
	          </ul>
	        </div>
	      </div>
	    </div>
	  </div>
	  <!-- Breadcrumbs End --> 
	 <!-- Main Container --> 
	  <section class="main-container col1-layout">
	    <div class="main container">
	      <div class="col-main"><div class="page-title">
	            <h2>Compare Products</h2>
	          </div>
	        <div class="compare-list">
	          
	          <div class="table-responsive">
	   
	              <table class="table table-bordered table-compare">
	                <tr>
	                  <td class="compare-label">Product Image</td>
	                  <td><a href="#"><img src="/images/products/img08.jpg" alt="Product" width="230"></a></td>
	                  <td><a href="#"><img src="/images/products/img09.jpg" alt="Product" width="230"></a></td>
	                  <td><a href="#"><img src="/images/products/img07.jpg" alt="Product" width="230"></a></td>
	                  <td><a href="#"><img src="/images/products/img10.jpg" alt="Product" width="230"></a></td>
	                </tr>
	                <tr>
	                  <td class="compare-label">Product Name</td>
	                  <td><a href="#">Donec Ac Tempus</a></td>
	                  <td><a href="#">Ipsums Dolors Untra </a></td>
	                  <td><a href="#">Donec Ac Tempus</a></td>
	                  <td><a href="#">Ipsums Dolors Untra </a></td>
	                </tr>
	                <tr>
	                  <td class="compare-label">Rating</td>
	                  <td><div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i>&nbsp; <span>(2 Reviews)</span></div></td>
	                  <td><div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i>&nbsp; <span>(3 Reviews)</span></div></td>
	                  <td><div class="rating"> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i>&nbsp; <span>(0 Reviews)</span></div></td>
	                  <td><div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>&nbsp; <span>(5 Reviews)</span> </div></td>
	                  
	                  
	                </tr>
	                <tr>
	                  <td class="compare-label">Price</td>
	                  <td class="price">$49.99</td>
	                  <td class="price">$99.00</td>
	                  <td class="price">$25.55</td>
	                  <td class="price">$88.99</td>
	                </tr>
	                <tr>
	                  <td class="compare-label">Description</td>
	                  <td>Lorem Ipsum Dolor Sit Amet, Consectetuer Adipiscing Elit, Sed Diam Nonummy Nibh Euismod.</td>
	                  <td>Tincidunt Ut Laoreet Dolore Magna Aliquam Erat Volutpat. Ut Wisi Enim Ad Minim Veniam, Quis Nostrud Exerci Tation Ullamcorper.</td>
	                  <td>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. sed diam nonummy nibh euismod tincidunt.</td>
	                  <td>Lorem Ipsum Dolor Sit Amet, Consectetuer Adipiscing Elit, Sed Diam Nonummy Nibh Euismod.</td>
	                </tr>
	                <tr>
	                  <td class="compare-label">Manufacturer</td>
	                  <td>Hermes</td>
	                  <td>D&G </td>
	                  <td>Gola</td>
	                  <td>Kappa</td>
	                </tr>
	                <tr>
	                  <td class="compare-label">Availability</td>
	                  <td class="instock">Instock (25 items)</td>
	                  <td class="outofstock">Out of stock</td>
	                  <td class="instock">Instock (30 items)</td>
	                  <td class="instock">Instock (50 items)</td>
	                </tr>
	               
	                <tr>
	                  <td class="compare-label">Size</td>
	                  <td>X</td>
	                  <td>XL</td>
	                  <td>XS</td>
	                  <td>XX</td>
	                </tr>
	                <tr>
	                  <td class="compare-label">Color</td>
	                  <td>Red</td>
	                  <td>Blue</td>
	                  <td>Green</td>
	                  <td>Lavender</td>
	                </tr>
	      
	                <tr>
	                  <td class="compare-label">Dimensions</td>
	                  <td>20x30x52cm</td>
	                  <td>30x20x42cm</td>
	                  <td>70x25x22cm</td>
	                   <td>50x40x62cm</td>
	                </tr>
	                <tr>
	                  <td class="compare-label">Action</td>
	                  <td class="action"><button class="add-cart button button-sm"><i class="fa fa-shopping-cart"></i></button>
	                    <button class="button button-sm"><i class="fa fa-heart"></i></button>
	                    <button class="button button-sm"><i class="fa fa-close"></i></button></td>
	                  <td class="action"><button class="add-cart button button-sm"><i class="fa fa-shopping-cart"></i></button>
	                    <button class="button button-sm"><i class="fa fa-heart"></i></button>
	                    <button class="button button-sm"><i class="fa fa-close"></i></button></td>
	                  <td class="action"><button class="add-cart button button-sm"><i class="fa fa-shopping-cart"></i></button>
	                    <button class="button button-sm"><i class="fa fa-heart"></i></button>
	                    <button class="button button-sm"><i class="fa fa-close"></i></button></td>
	                    <td class="action"><button class="add-cart button button-sm"><i class="fa fa-shopping-cart"></i></button>
	                    <button class="button button-sm"><i class="fa fa-heart"></i></button>
	                    <button class="button button-sm"><i class="fa fa-close"></i></button></td>
	                </tr>
	              </table>
	    
	          </div>
	        </div>
	      </div>
	    </div>
	  </section>
	</div>

</body>
</html>