<!DOCTYPE html>
<html data-layout-decorate="~{fragments/fragment-layout}">
<head>
<title>Mon Compte</title>
</head>
<body>
	<div data-layout-fragment="content">
		<div class="breadcrumbs">
		    <div class="container">
		      <div class="row">
		        <div class="col-xs-12">
		          <ul>
		            <li class="home"> <a title="Go to Home Page" href="index-2.html">Home</a><span>&raquo;</span></li>
		            <li><strong>My Account</strong></li>
		          </ul>
		        </div>
		      </div>
		    </div>
		  </div>
		  <!-- Breadcrumbs End --> 
		  
		  <!-- Main Container -->
		  <section class="main-container col2-right-layout">
		    <div class="main container">
		      <div class="row">
		        <div class="col-main col-sm-9 col-xs-12">
		          <div class="my-account">
		            <div class="page-title">
		              <h2>Your Wish List</h2>
		            </div>
		            <div class="wishlist-item table-responsive">
		              
		          </div>
		        </div>
		        <aside class="right sidebar col-sm-3 col-xs-12">
		          <div class="sidebar-account block">
		            <div class="sidebar-bar-title">
		              <h3>My Account</h3>
		            </div>
		            <div class="block-content">
		              <ul>
		                <li><a>Account Dashboard</a></li>
		                <li><a href="#">Account Information</a></li>
		                <li><a href="#">Address Book</a></li>
		                <li><a href="#">My Orders</a></li>
		                <li><a href="#">Billing Agreements</a></li>
		                <li><a href="#">Recurring Profiles</a></li>
		                <li><a href="#">My Product Reviews</a></li>
		                <li><a href="#">My Tags</a></li>
		                <li class="current"><a href="#">My Wishlist</a></li>
		                <li><a href="#">My Downloadable</a></li>
		                <li class="last"><a href="#">Newsletter Subscriptions</a></li>
		              </ul>
		            </div>
		          </div>
		          <div class="compare block">
		            <div class="sidebar-bar-title">
		              <h3>Compare Products (2)</h3>
		            </div>
		            <div class="block-content">
		              <ol id="compare-items">
		                <li class="item"> <a href="#" title="Remove This Item" class="remove-cart"><i class="icon-close"></i></a> <a href="#" class="product-name">Vestibulum porta tristique porttitor.</a> </li>
		                <li class="item"> <a href="#" title="Remove This Item" class="remove-cart"><i class="icon-close"></i></a> <a href="#" class="product-name">Lorem ipsum dolor sit amet</a> </li>
		              </ol>
		              <div class="ajax-checkout">
		                <button type="submit" title="Submit" class="button button-compare"> <span><i class="fa fa-signal"></i> Compare</span></button>
		                <button type="submit" title="Submit" class="button button-clear"> <span><i class="fa fa-eraser"></i> Clear All</span></button>
		              </div>
		            </div>
		          </div>
		        </aside>
		      </div>
		     </div>
		    </div>
		  </section>
		  <!-- Main Container End --> 
		  <!-- service section -->
	</div>

</body>
</html>