<!DOCTYPE html>
<html data-layout-decorate="~{fragments/fragment-layout}">
<head>
<title>Contacts</title>
</head>
<body>
	<div data-layout-fragment="content">
		<div class="breadcrumbs">
		    <div class="container">
		      <div class="row">
		        <div class="col-xs-12">
		          <ul>
		            <li class="home"> <a title="Go to Home Page" href="index-2.html">Home</a><span>&raquo;</span></li>
		            <li><strong>Contact Us</strong></li>
		          </ul>
		        </div>
		      </div>
		    </div>
		  </div>
		  <!-- Breadcrumbs End --> 
		  
		  <!-- Main Container -->
		  <section class="main-container col1-layout">
		    <div class="main container">
		      <div class="row">
		        <section class="col-main col-sm-12">
		          <div id="contact">
		            <div class="page-title">
		              <h2>Contact Us</h2>
		            </div>
		            <div class="row">
		              <div class="col-sm-8">
		                <h3 class="page-subheading">Drop Us A Line</h3>
		                <div class="contact-form-box">
		                  <div class="form-selector">
		                    <label>Your Name <span>*</span></label>
		                    <input type="text" class="form-control input-sm" placeholder="Your name (required)" id="name" />
		                  </div>
		                  <div class="form-selector">
		                    <label>Your Surname</label>
		                    <input type="text" class="form-control input-sm" placeholder="Your Surname" id="name" />
		                  </div>
		                  <div class="form-selector">
		                    <label>Your Email <span>*</span></label>
		                    <input type="text" class="form-control input-sm" placeholder="Your email address (required)" id="email" />
		                  </div>
		                  <div class="form-selector">
		                    <label>Your Message <span>*</span></label>
		                    <textarea class="form-control input-sm" rows="20" placeholder="Your message content (required)" id="message"></textarea>
		                  </div>
		                  <div class="form-selector">
		                    <button class="button"><i class="fa fa-send"></i>&nbsp; <span>Send Message</span></button>
		                  </div>
		                </div>
		              </div>
		              <div class="col-xs-12 col-sm-4" id="contact_form_map">
		                <h3 class="page-subheading">Let's Stay In Touch</h3>
		                <p>Lorem ipsum dolor sit amet onsectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor dapibus eget. Mauris tincidunt aliquam lectus sed vestibulum. Vestibulum bibendum suscipit mattis.</p>
		                <br/>
		                <div class="article-container style-1">
		                  <h5>Company address</h5>
		                  <p> My Company, <br>
		                    12/34 - West 21st Street,<br>
		                    United States<br>
		                    New York, USA<br>
		                  </p>
		                  <h5>Contact Informations</h5>
		                  <p>Email: <a href="mailto:support@themes.com">support@themes.com</a><br>
		                    Toll-free: (800) 0123 456 789</p>
		                </div>
		                <br/>
		                <div class="share-box">
		                  <div class="title">Share in social media</div>
		                  <div class="socials-box"> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-google-plus"></i></a> <a href="#"><i class="fa fa-youtube"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a> <a href="#"><i class="fa fa-instagram"></i></a> </div>
		                  <div class="clear"></div>
		                </div>
		              </div>
		            </div>
		          </div>
		        </section>
		      </div>
		    </div>
		  </section>
	</div>

</body>
</html>