<!DOCTYPE html>
<html data-layout-decorate="~{fragments/fragment-layout}">
<head>
<title>Connexion</title>
</head>
<body>
	<div data-layout-fragment="content">
	 	<div class="breadcrumbs">
		    <div class="container">
		      <div class="row">
		        <div class="col-xs-12">
		          <ul>
		            <li class="home"> <a title="Go to Home Page" href="/">Home</a><span>&raquo;</span></li>
		            <li><strong>Log in</strong></li>
		          </ul>
		        </div>
		      </div>
		    </div>
		  </div>
		  <!-- Breadcrumbs End --> 
		  
		  <!-- Main Container -->
		  <section class="main-container col1-layout">
		    <div class="main container">
		      <div class="account-login">
		        <div class="box-authentication col-md-offset-4">
		          <form method="post" action="">
			          <h4>Login</h4>
			          <p class="before-login-text">Welcome back! Sign in to your account</p>
			          <label for="username_login">Username<span class="required">*</span></label>
			          <input id="username_login" type="text" class="form-control" name="username">
			          <label for="password_login">Password<span class="required">*</span></label>
			          <input id="password_login" type="password" class="form-control" name="password">
			          <button class="button"><i class="fa fa-lock"></i>&nbsp; <span>Login</span></button>
		           </form>
		        </div>
		      </div>
		    </div>
		  </section>
		  <!-- Main Container End --> 
		  <!-- service section -->
	</div>

</body>
</html>