<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.altrap.net.nz/thymeleaf/layout" 
layout:decorate="~{fragments/main_layout}">

<head>
	<meta charset="UTF-8">
	<title></title>
</head>

<body>
 <div layout:fragment="content" class="container">
      <h2>List of Users</h2>
	  <p>The Users:</p>
	  <form action="/users" class="form-inline">
	        <div class="form-group mb-2">
	         <input type="text" class="form-control" name="name" placeholder="Search User" />
	         <input type="submit" value="Search"  class="btn btn-primary"/>
	        </div>
	  </form>            
	  <table class="table table-hover">
	    <thead>
	      <tr>
	        <th>Name</th>
	        <th>Email</th>
	        <th>Add</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr th:each="user :${users}">
	        <td th:text="${user.name}"></td>
	        <td th:text="${user.email}"></td>
	        <td><a th:href="@{/addTask(email=${user.email})}" class="btn btn-success">Add Task</a></td>
	      </tr>
	    </tbody>
	  </table>
 </div>
</body>
</html>