<div id="sidebar-menu" class="main_menu_side hidden-print main_menu" data-th-fragment="sidebar-menu">
  <div class="menu_section">
    <h3>General</h3>
    <ul class="nav side-menu">
      <li>
      		<a data-th-href="@{/accueil}">
      			<i class="fa fa-home"></i> Accueil 
   			</a>
      </li>
      <li>
      		<a data-th-href="@{/country}">
      			<i class="fa fa-home"></i> Pays 
   			</a>
      </li>
      <li>
      		<a data-th-href="@{/personnes}">
      			<i class="fa fa-list"></i> Personnes 
   			</a>
      </li>
      <li>
      		<a data-th-href="@{/personnes-groups}">
      			<i class="fa fa-list"></i> Personnes groupes
   			</a>
      </li>
      <li>
      		<a data-th-href="@{/personnes-autre}">
      			<i class="fa fa-list"></i> Personnes Autres
   			</a>
      </li>
         
    </ul>
  </div>
  <div class="menu_section">
    <h3>Générer Etats</h3>
    <ul class="nav side-menu">
      <li>
          <a data-th-href="@{/pricing-table}"><i class="fa fa-clone"></i> Extras <span class="fa fa-chevron-down"></span></a>
       
      </li>                
    </ul>
  </div>

</div>