<!DOCTYPE html>
<html data-layout-decorate="~{fragments/layout-login}">
<head>
<meta charset="UTF-8">
<title>Connexion</title>
</head>
<body>
	<div class="login" data-layout-fragment="content">
		<div class="login_wrapper">
			<div class="animate form login_form">
				<section class="login_content">
					<form>
						<h1>Authenticatiion</h1>
						<div>
							<input type="text" class="form-control" placeholder="Username" />
						</div>
						<div>
							<input type="password" class="form-control"
								placeholder="Password" />
						</div>
						<div>
							<a class="btn btn-default submit" data-th-href=@{/accueil}>Connexion</a>
						</div>

						<div class="clearfix"></div>

						<div class="separator">
							<div class="clearfix"></div>
							<br />
							<div>
								<h1>
									<i class="fa fa-paw"></i> App Test!
								</h1>
								<p style="color:white">© 2018 All Rights Reserved.</p>
							</div>
						</div>
					</form>
				</section>
			</div>
		</div>
	</div>
</body>
</html>